<!DOCTYPE html>
<html>
<head>
    <title>Translation Service</title>
    <script src="{{ url_for('static', filename='languages.js') }}"></script>
    <script src="{{ url_for('static', filename='translate.js') }}"></script>
</head>
<body>
    <h1>Translation Service</h1>
    <div>
        <label for="sentence">Enter a Sentence:</label>
        <input type="text" id="sentence" placeholder="Enter your sentence">
    </div>
    <div>
        <label for="sourceLang">Select Source Language:</label>
        <select id="sourceLang"></select>
    </div>
    <div>
        <label for "targetLang">Select Target Language:</label>
        <select id="targetLang"></select>
    </div>
    <button id="translateButton">Translate</button>
    <div>
        <h2>Translation Result:</h2>
        <p id="translationResult"></p>
    </div>
</body>
</html>

